{% extends 'base.html' %}
{% load static %}
{% block title %} Settings {% endblock %}

{% block content %}
   <!-- Main -->


    <div class="bg-light settings-page vh-100 bg-sm-none p-4  px-sm-3">
        {% include 'pages/settings/menu.html' %}
       <div class=" bg-white rounded-1 p-4 mt-4 p-sm-0 ">
            <h2 class="mt-0">Данные</h2>
            <div class="hr-dark-light"></div>
            <div class="grid-3 gap-1">
                <div class="">
                    <label for="" class="label">Имя</label>
                    <input value="{{request.user.first_name}}" type="text" class="input">
                </div>
                <div class="">
                    <label for="" class="label">Фамилия</label>
                    <input type="text" value="{{request.user.last_name}}" class="input">
                </div>
                <div class="">
                    <label for="" class="label">Дата рождения</label>
                    <input type="date" class="input">
                </div>
            </div>
       </div>
    </div>


{% endblock %}